
    <!-- <aside *ngIf="menu">
        <div id="sidebar" class="nav-collapse sidebar-admin">
          <ul class="sidebar-menu" *ngIf="menu">
            
            <li class="sub-menu" *ngFor="let item of menu">
              <a class="">
                            <i class="icon_document_alt"></i>
                            <span>{{item.name}}</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
              <ul class="sub2" [id]="item.name">
                <li *ngFor="let subItem of item.subs">
                  <a *ngIf="subItem.url.length == 1" class="" href="" [routerLink]="['/admin', subItem.url[0]]">{{subItem.name}}</a>
                  <a *ngIf="subItem.url.length > 1" class="" href="" [routerLink]="['/admin', subItem.url[0], subItem.url[1]]">{{subItem.name}}</a>
                </li>
              </ul>
            </li>
           
          </ul>
        </div>
      </aside> -->