
.iniciarS{    
    color: #ffffff;
    background-color: black;
    border: 1px solid black;
}

.iniciarS:hover{    
    color: black;
    background-color: rgb(225, 225, 225);
    border: 1px solid black;
}

button{
    border-radius: 0px !important;
}

.modal-footer{
    background: #a7a7a7;
    border: none;
    box-shadow: none;
}
