<div class="footer">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>CATEGORIAS</h4>
                <ul *ngIf="cats">
                    <a *ngFor="let cat of cats" [routerLink]="['/search', 'categorie'+cat.id]">
                        <li>{{cat.name | uppercase}}</li>
                    </a>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>CONTACTANOS</h4>
                <ul *ngIf="opt">
                    <li>{{opt.bussnessName | uppercase}}</li>
                    <li>{{opt.buyAdress | uppercase}}</li>
                    <li>{{opt.bussnessPhone  | uppercase}}</li>
                    <li>{{opt.buySchedule | uppercase}}</li>
                    <li>{{opt.buyEmailCount | uppercase}}</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>MEDIOS DE PAGOS</h4>
                <ul>
                    <li>EFECTIVO</li>
                    <li>TRANSFERENCIA BANCARIA</li>
                    <li>MERCADO PAGO</li>
                </ul>

            <a [href]="opt.afipLink" target="_blank">
                <img class="afip" src="assets/img/afip.jpg" alt="Data fiscal" srcset="">
            </a>
            </div>
        </div>
        <div class="row">
            <div class="sub_footer">
                <p>Todos los derechos reservados. Beber con moderación. Prohibida la venta a menores de 18 años.</p>
            </div>
        </div>
    </div>
</div>