header{
    background: #a7a7a7;
    color: black;
    vertical-align: middle;
    height: 96px;
    margin-top: 30px;
}

.avatar{
    height: 40px;
}

a.logo{
    margin-top: 15px;
}

#logo{
    height: 90px;
    margin-top: -12px;
    margin-bottom: 3px;
}

.icon-reorder{
    margin-top: 9px;
    font-size: 32px;
}

#img_avatar{
    height: 35px;
}

#cart_notification{
    margin-top: 8px;
}


.modal-content, .modal-body,.modal-footer{
    background-color: #a7a7a7 !important;
    border-radius: 0px;
    border: none;
    color:white !important
}

.modal-header{
    background-color:#323232 !important;
    border-radius: 0px;
    border: none;
}

.modal-header h4{
    
    color: white !important
}

.modal-title{
    color: black;
    text-shadow: none;
}

.previewSearch{
    background: white;
    margin-top: 3px;
    border-radius: 4px;
    position: absolute;
    width: 300px;
    height: 500px;
}

.previewSearch p{
    margin: 5px 10px;
}

.previewSearch ul{
    padding-inline-start: 26px;
}

.previewSearch ul li{
    padding: 4px 0px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}

.previewSearch ul li:hover{
    background: #e8e8e8
}

.previewSearch ul li a{
    color: black;
}

.searchDesc{
    margin: 0px;
    color: lightsteelblue;
    font-size: 12px;
}

.searchName{
    margin-bottom: 5px;
}

.searchName span{
    margin-right: 8px;
}

.view-modal{
    display: block;
}

li.dropdown{
    cursor: pointer;
}

.navbar-nav{
    background-color: black;
}
.navbar-nav li a{
    color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: black;
}

.dropdown-menu{
    background-color: rgb(56, 56, 56)!important;
}

#searchColl{
    margin: 10px;
    border: none !important;
}

#searchColl input{
    margin: auto;
}

#searchCollDiv{
    top: 158px;
    width: 90%;
}

.cart_sm{
    margin: 36px -10px 0px 0px;
}

.cart_sm .badge{
    position: absolute;
    right: -8px;
    top: -5px;
    z-index: 100;
    border-radius: 9px;
    min-width: 18px;
    height: 18px;
    text-align: center;
    padding: 3px 5px;
    background: #00a0df;
    font-weight: 400;
}