header{
    background: #a7a7a7;
    color: black;
    vertical-align: middle;
}

@media(min-width: 740px){
    .icon-reorder.tooltips{
        display: none;
    }
}

#logo{
    height: 90px;
    margin-top: -12px;
    margin-bottom: 3px;
}

.icon-reorder{
    margin-top: 9px;
    font-size: 32px;
}

#img_avatar{
    height: 35px;
}

#cart_notification{
    margin-top: 8px;
}


.modal-content, .modal-body,.modal-footer{
    background-color: rgb(222, 184, 135) !important;
    border-radius: 0px;
    border: none;
}

.modal-header{
    background-color: rgb(211, 169, 114) !important;
    border-radius: 0px;
    border: none;
}

.modal-title{
    color: black;
    text-shadow: none;
}

.previewSearch{
    background: white;
    margin-top: 3px;
    border-radius: 4px;
    position: absolute;
    width: 100%;
}

.previewSearch p{
    margin: 5px 10px;
}

.previewSearch ul{
    padding-inline-start: 26px;
}

.previewSearch ul li{
    padding: 4px 0px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}

.previewSearch ul li:hover{
    background: #e8e8e8
}

.previewSearch ul li a{
    color: black;
}

.searchDesc{
    margin: 0px;
    color: lightsteelblue;
    font-size: 12px;
}

.searchName{
    margin-bottom: 5px;
}

.searchName span{
    margin-right: 8px;
}

.view-modal{
    display: block;
}