<header class="header">
  <div class="toggle-nav">
    <div
      class="icon-reorder visible-xs"
      data-toggle="collapse"
      data-target="#bs-example-navbar-collapse-1"
    >
      <i class="icon_menu"></i>
    </div>
  </div>

  <!--logo start-->
  <a routerLink="/home" class="logo"
    ><img id="logo" src="assets/img/logo.png" alt=""
  /></a>
  <a routerLink="/home" class="logo visible-md visible-lg visible-xl" style="margin-top: 24px;"
    ><img id="logo" src="assets/img/logo2.png" alt=""
  /></a>
  <!--logo end-->

  <div class="nav search-row" id="top_menu">
    <!--  search form start -->
    <ul class="nav top-menu visible-sm visible-md visible-lg visible-xl">
      <li>
        <form class="navbar-form">
          <input
            class="form-control"
            placeholder="Buscar"
            name="searchTerm"
            autocomplete="off"
            [(ngModel)]="searchTerm"
            (focus)="focus()"
            (blur)="blur($event)"
            (keyup.enter)="search(searchTerm)"
          />
        </form>
        <div
          id="searchP"
          class="previewSearch visible-sm visible-md visible-lg visible-xl"
          *ngIf="searchTerm.length > 2 && viewSearchPreview"
          (mouseenter)="onSearchPreview = true"
          (mouseleave)="onSearchPreview = false"
        >
          <p><b>PRODUCTOS</b></p>
          <ul>
            <li *ngFor="let item of productos | search: searchTerm">
              <a
                href=""
                [routerLink]="['/product', item.id]"
                (click)="searchTerm = ''"
              >
                <p class="searchName">
                  {{ item.name
                  }}<span class="pull-right"
                    ><b>$ {{ item.price }}</b></span
                  >
                </p>
                <p class="searchDesc">{{ item.desc }}</p>
              </a>
            </li>
          </ul>
          <p><b>CATEGORIAS</b></p>
          <ul>
            <li *ngFor="let item of categorias | searchCat: searchTerm">
              <a
                href=""
                [routerLink]="['/search', item.id]"
                (click)="searchTerm = ''"
              >
                <p class="searchName">{{ item.cat }}</p>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <!--  search form end -->
  </div>

  <div class="cart_sm visible-xs">
    <ul class="nav pull-right top-menu">
      <li>
        <a [routerLink]="['/cart']">
          <i class="icon_cart_alt"></i>
          <span class="badge bg-important">{{ cartCount }}</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="top-nav notification-row hidden-xs">
    <!-- notificatoin dropdown start-->
    <ul class="nav pull-right top-menu">
      <!-- Cart start-->
      <li id="cart_notification" class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle">
          <i class="icon_cart_alt"></i>
          <span class="badge bg-important">{{ cartCount }}</span>
        </a>
        <ul class="dropdown-menu extended notification" *ngIf="total">
          <div class="notify-arrow notify-arrow-blue"></div>
          <li>
            <p class="blue" routerLink="/cart">Carrito</p>
          </li>

          <li *ngFor="let prod of cart; let i = index">
            <a [routerLink]="['/product', prod.idF]">
              <span class="label label-primary">{{ prod.cant }}</span>
              {{ prod.name }}
              <span
                class="small italic pull-right"
                *ngIf="total && total.subtotal"
                >$ {{ total.promo[i].subtotal | number: "1.2-2" }}</span
              >
            </a>
          </li>

          <li>
            <a href="#" routerLink="/cart"
              >Total<span class="italic pull-right">
                <b>{{ total.subtotal | number: "1.2-2" }}$</b>
              </span></a
            >
          </li>
        </ul>
      </li>
      <!-- Cart end-->

      <!-- user login dropdown start-->
      <li
        class="dropdown"
        *ngIf="userComplete && user$ | async as user; else noSession"
      >
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <span class="profile-ava">
            <img
              alt=""
              class="avatar"
              [src]="'assets/img/avatars/' + userComplete.avatar + '.jpg'"
            />
          </span>
          <span class="username">{{ user.displayName }}</span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu extended logout">
          <div class="log-arrow-up"></div>
          <li class="eborder-top">
            <a [routerLink]="['/profile']"
              ><i class="icon_profile"></i> Mi cuenta</a
            >
          </li>
          <li>
            <a href="#" routerLink="/cart"
              ><i class="icon_cart_alt"></i> Carrito</a
            >
          </li>
          <li *ngIf="userComplete.role == 'ADMIN_ROLE'">
            <a href="http://localhost:4200/#/admin"
              ><i class="fa fa-gears"></i> Opciones de ADMIN</a
            >
          </li>
          <li>
            <a (click)="logout()" href="#"
              ><i class="icon_key_alt"></i> Cerrar sesión</a
            >
          </li>
        </ul>
      </li>

      <ng-template #noSession>
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="profile-ava">
              <img id="img_avatar" src="assets/img/avatars/1.jpg" />
            </span>
            <span class="username">Anonimo</span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu extended logout">
            <div class="log-arrow-up"></div>
            <li>
              <a href="#" routerLink="/cart"
                ><i class="icon_cart_alt"></i> Carrito</a
              >
            </li>
            <li>
              <a (click)="loginModalDisplay = !loginModalDisplay"
                ><i class="icon_key_alt"></i> Iniciar sesión</a
              >
            </li>
          </ul>
        </li>
      </ng-template>
      <!-- user login dropdown end -->
    </ul>
    <!-- notificatoin dropdown end-->
  </div>
</header>

<!-- Modal Login -->
<div
  class="modal fade in animated bounce"
  id="mLogin"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mLoginLabel"
  [ngClass]="{ 'view-modal': loginModalDisplay }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="loginModalDisplay = false">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="mLoginLabel">Inicio de sesión</h4>
      </div>
      <app-login
        [display]="loginModalDisplay"
        (close)="cambiar($event)"
      ></app-login>
    </div>
  </div>
</div>

<!-- Modal Registro -->
<div
  class="modal fade in animated bounce"
  id="mRegistro"
  tabindex="-1"
  role="dialog"
  [ngClass]="{ 'view-modal': registerModalDisplay }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          (click)="registerModalDisplay = false"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="mLoginLabel">Registrarse</h4>
      </div>

      <app-register
        [display]="registerModalDisplay"
        (close)="cambiar($event)"
      ></app-register>
    </div>
  </div>
</div>

<!-- Modal No-Pass -->
<div
  class="modal fade in animated bounce"
  id="mRegistro"
  tabindex="-1"
  role="dialog"
  [ngClass]="{ 'view-modal': noPassModalDisplay }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          (click)="noPassModalDisplay = false"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="mLoginLabel">Recuperar contraseña</h4>
      </div>

      <app-no-pass-reset
        [display]="noPassModalDisplay"
        (close)="cambiar($event)"
      ></app-no-pass-reset>
    </div>
  </div>
</div>

<nav class="navbar navbar-default visible-xs" style="top: 36px">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div
      class="collapse navbar-collapse"
      id="bs-example-navbar-collapse-1"
      style="background-color: black"
      *ngIf="catsSvc.menu"
    >
      <ul class="nav navbar-nav">
        <li class="dropdown"></li>
        <li
          class="dropdown"
          *ngIf="userComplete && user$ | async as user; else noSession"
        >
          <a
            data-toggle="dropdown"
            class="dropdown-toggle"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span class="profile-ava">
              <img
                alt=""
                class="avatar"
                [src]="'assets/img/avatars/' + userComplete.avatar + '.jpg'"
              />
            </span>
            <span class="username" style="margin-left: 10px">{{
              user.displayName
            }}</span>
          </a>
          <ul class="dropdown-menu animated flipInX">
            <div class="log-arrow-up"></div>
            <li>
              <a (click)="colapsarMenu()" [routerLink]="['/profile']"
                ><i class="icon_profile"></i> Mi cuenta</a
              >
            </li>
            <li>
              <a (click)="colapsarMenu()" routerLink="/cart"
                ><i class="icon_cart_alt"></i> Carrito</a
              >
            </li>
            <li *ngIf="userComplete.role == 'ADMIN_ROLE'">
              <a (click)="colapsarMenu()" href="http://localhost:4200/#/admin"
                ><i class="fa fa-gears"></i> Opciones de ADMIN</a
              >
            </li>
            <li>
              <a (click)="logout(); colapsarMenu()" href="#"
                ><i class="icon_key_alt"></i> Cerrar sesión</a
              >
            </li>
          </ul>
        </li>
        <form class="navbar-form visible-xs" id="searchColl">
          <input
            class="form-control"
            placeholder="Buscar"
            name="searchTerm"
            autocomplete="off"
            [(ngModel)]="searchTerm"
            (focus)="focus()"
            (blur)="blur($event)"
            (keyup.enter)="search(searchTerm)"
          />
        </form>
        <li class="dropdown" *ngFor="let menuItem of catsSvc.menu">
          <a
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >{{ menuItem.name | uppercase }}</a
          >
          <ul class="dropdown-menu animated flipInX">
            <li *ngFor="let subItem of menuItem.subs">
              <a (click)="colapsarMenu()" [routerLink]="['/admin', subItem]">{{
                subItem | uppercase
              }}</a>
            </li>
          </ul>
        </li>
      </ul>

      <div
        id="searchCollDiv"
        class="previewSearch"
        style="display: block"
        *ngIf="searchTerm.length > 2 && viewSearchPreview"
        (mouseenter)="onSearchPreview = true"
        (mouseleave)="onSearchPreview = false"
      >
        <p><b>PRODUCTOS</b></p>
        <ul>
          <li *ngFor="let item of productos | search: searchTerm">
            <a
              href=""
              [routerLink]="['/product', item.id]"
              (click)="searchTerm = ''"
            >
              <p class="searchName">
                {{ item.name
                }}<span class="pull-right"
                  ><b>$ {{ item.price }}</b></span
                >
              </p>
              <p class="searchDesc">{{ item.desc }}</p>
            </a>
          </li>
        </ul>
        <p><b>CATEGORIAS</b></p>
        <ul>
          <li *ngFor="let item of categorias | searchCat: searchTerm">
            <a
              href=""
              [routerLink]="['/search', item.id]"
              (click)="searchTerm = ''"
            >
              <p class="searchName">{{ item.cat }}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
