.wrapper{
    margin-top: 145px;
}

@media(max-width: 768px){
    .wrapper{
        margin-top: 45px;
    }
    .contact{
        border: 1px solid black;
    padding: 0px !important;
    margin: 0px !important;
    border-radius: 5px;
    width: 100% !important;
    }
    .recaptcha{
        margin-left: -20px !important;
        margin-top: -7px !important;
        transform: scale(0.8) !important;
      }
}

.contact{
    border: 1px solid black;
    padding: 10px 20px 30px 20px;
    margin: 30px auto;
    border-radius: 5px;
    width: 70%;
}



.alert-danger{
    margin: 10px;
    border-radius: 5px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    text-align: left;
}

.recaptcha-container{
    text-align: center;
  }
  
  .recaptcha{
    display: inline-block;
    margin-top: 15px;
  }