
<div class="content-image">
    <!-- // animación que se muestra hasta que la imagen complete de cargar -->
    <div class="thumb-overlay animated fadeIn slower" [hidden]="viewImage">
        <img src="assets/img/botella.jpg" class="card-img-top-4" alt="...">
    </div>  
    <!-- // imagen que se mostrara al completar la carga -->
    <div [hidden]="!viewImage">
        <img [src]="url" #image  class="card-img-top-4 animated fadeIn slower" style="height: 400px">
        <div class="discount" *ngIf="unitSale">
            <p class="sale-unit"> {{unitSale.name}}</p>
            <p class="sale-unit" style="font-size: 10px;">{{unitSale.desc}}</p>
        </div>
    </div>
</div>
