<h3 class="page-header">Ventas</h3>

<div *ngIf="ventas; else loading">
    <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab"
          >Entregado</a
        >
      </li>
      <li role="presentation">
        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"
          >Enviado</a
        >
      </li>
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <app-sale-table [type]="'finalize'" [ventas]='ventas | ventasPorState: "finalize": "noShipp"' [empty]="'No hay pedidos entregados'"></app-sale-table>
      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
        <app-sale-table [type]="'finalize'" [ventas]='ventas | ventasPorState: "finalize": "shipp"' [empty]="'No hay pedidos enviados'"></app-sale-table>
      </div>
    </div>
  </div>
  </div>
  
  <ng-template #loading>
      <app-loading></app-loading>
  </ng-template>