.cardContainer{
    margin-bottom: 25px;
}

.sale_price{
        margin: 8px 15px;
        float: right;
        font-size: 22px;
        color: green;
}

.price{
    margin: 15px 15px;
    text-decoration: line-through;
    float: right;
    font-size: 15px;
    color: rgb(238, 53, 53);
}

.price_only{
  margin: 8px 15px;
  float: right;
  font-size: 22px;
  color: black;
}



.sale{
    margin: 15px;
    font-size: 14px;
}


.card-4 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  
  .card-4 > hr {
    margin-right: 0;
    margin-left: 0;
  }
  
  .card-4 > .list-group {
    border-top: inherit;
    border-bottom: inherit;
  }
  
  .card-4 > .list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .card-4 > .list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  
  .card-body-4 {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }
  
  .card-title-4 {
    margin-bottom: 0.75rem;
  }
  
  .card-subtitle-4 {
    margin-top: -0.375rem;
    margin-bottom: 0;
  }
  
  .card-text-4:last-child-4 {
    margin-bottom: 0;
  }
  
  .card-link-4:hover-4 {
    text-decoration: none;
  }
  
  .card-link-4 + .card-link-4 {
    margin-left: 1.25rem;
  }
  
  .card-header-4 {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card-header-4:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  
  .card-header-4 + .list-group .list-group-item:first-child {
    border-top: 0;
  }
  
  .card-footer-4 {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card-footer-4:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  }
  
  .card-header-tabs-4 {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
  }
  
  .card-header-pills-4 {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
  
  .card-img-overlay-4 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
  }
  
  .card-img-4,
  .card-img-top-4,
  .card-img-bottom-4 {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
  }
  
  .card-img-4,
  .card-img-top-4 {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .card-img-4,
  .card-img-bottom-4 {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  
  .card-deck-4 .card-4 {
    margin-bottom: 15px;
  }
  
  @media (min-width: 576px) {
    .card-deck-4 {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
    .card-deck-4 .card-4 {
      -ms-flex: 1 0 0%;
      flex: 1 0 0%;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px;
    }
  }
  
  .card-group-4 > .card-4 {
    margin-bottom: 15px;
  }
  
  @media (min-width: 576px) {
    .card-group-4 {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
    }
    .card-group-4 > .card-4 {
      -ms-flex: 1 0 0%;
      flex: 1 0 0%;
      margin-bottom: 0;
    }
    .card-group-4 > .card-4 + .card-4 {
      margin-left: 0;
      border-left: 0;
    }
    .card-group-4 > .card-4:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .card-group-4 > .card-4:not(:last-child) .card-img-top-4,
    .card-group-4 > .card-4:not(:last-child) .card-header-4 {
      border-top-right-radius: 0;
    }
    .card-group-4 > .card-4:not(:last-child) .card-img-bottom-4,
    .card-group-4 > .card-4:not(:last-child) .card-footer-4 {
      border-bottom-right-radius: 0;
    }
    .card-group-4 > .card-4:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .card-group-4 > .card-4:not(:first-child) .card-img-top-4,
    .card-group-4 > .card-4:not(:first-child) .card-header-4 {
      border-top-left-radius: 0;
    }
    .card-group-4 > .card-4:not(:first-child) .card-img-bottom-4,
    .card-group-4 > .card-4:not(:first-child) .card-footer-4 {
      border-bottom-left-radius: 0;
    }
  }
  
  .card-columns-4 .card-4 {
    margin-bottom: 0.75rem;
  }
  
  @media (min-width: 576px) {
    .card-columns-4 {
      -webkit-column-count: 2 !important;
      -moz-column-count: 2 !important;
      column-count: 2 !important;
      -webkit-column-gap: 1.25rem;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
    }
    .card-columns-4 .card-4 {
      display: inline-block;
      width: 100%;
    }
  }

  @media (min-width: 990px) {
    .card-columns-4 {
      -webkit-column-count: 4 !important;
      -moz-column-count: 4 !important;
      column-count: 4 !important;
      -webkit-column-gap: 1.25rem;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
    }
    .card-columns-4 .card-4 {
      display: inline-block;
      width: 100%;
    }
  }
  
  .accordion > .card-4 {
    overflow: hidden;
  }
  
  .accordion > .card-4:not(:last-of-type) {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .accordion > .card-4:not(:first-of-type) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .accordion > .card-4 > .card-header-4 {
    border-radius: 0;
    margin-bottom: -1px;
  }

  .text-muted {
    color: #6c757d !important;
  }


  .promo-link {
    text-align: center;
}
.promoted {
    padding: 6px;
    background: #deb887;
    color: #000;
    margin: 2px 0 10px 0;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}
b, strong {
  font-weight: bold;
}
.product-list .product .small-buy .product-price {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-right: 0;
}

.discount-arrow p {
  color: #fff;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.discount-arrow.arrow-left {
  margin-left: 7px;
  font-size: 11px;
}

.small-buy .discount-arrow {
  font-size: 11px;
}
.discount-arrow {
  position: relative;
  display: inline-block;
  top: -1px;
  padding: 0 3px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  line-height: 1px;
  color: #fff;
  background: #900;
  border-radius: 3px;
}

.discount, #product .discount {
  text-align: center;
  display: inline-table;
  color: #FFF;
  background: #d3a972;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.discount p {
  margin: 1px;
}

.discount:hover{
  background: #eac99c;
}

.sale-unit{
  margin-top: 0px;
  margin-bottom: 0px;
}