.panel .panel-heading i{
    border: none;
}
.panel .panel-heading{
    padding: 6px 12px !important;
}

.label-primary{
    margin-right: 2px;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td{
    text-align: center;
}
img{
    height: 40px;
}

a.nombre{
    text-decoration: none;
    color: inherit
}
a.nombre:hover{
    color: black;
}

.sinStock{
 background: #ff63475c !important;
}

.sinStock:hover{
    background: #ff63475c !important;
}

.order li{
    cursor: pointer;
}

.order li a {
color: black !important;
}

.selected{
    text-decoration: underline;
    color: midnightblue;
}

.select{
cursor: pointer;
}

.select:hover{
    color: black;
    text-decoration: underline;
}