    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
          <div class="row">
            <div class="col-lg-12">
              <br>
              <app-carrousel></app-carrousel>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              
              <h3 class="page-header">Ofertas Semanales</h3>

              <app-prod-card-inline [items]='lista' [termino]="'name'"></app-prod-card-inline>

            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              
              <h3 class="page-header">Destacados</h3>

              <app-promo-inline></app-promo-inline>

            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              
              <h3 class="page-header">Nuevos Ingresos</h3>

              <app-prod-card-inline [items]='lista' [cant]='10' [termino]="'date'"></app-prod-card-inline>

            </div>
          </div>
        </section>
      </section>
      <!--main content end-->