    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
          <div class="row">
            <div class="col-lg-12">
              <br>
              <app-carrousel></app-carrousel>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              
              <h3 class="page-header">Ofertas Semanales</h3>

              <app-prod-card [items]='lista'></app-prod-card>

            </div>
          </div>
        </section>
      </section>
      <!--main content end-->