<div class="row">
  <div class="container">
    <div class="col-md-3 col-sm-3 col-xs-6">
      <div class="product-tag">
        <a [routerLink]="['/search', 'promo3x2']" alt="3x2">
          <img src="assets/img/1.jpg" class="img-responsive" />
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <div class="product-tag">
        <a [routerLink]="['/search', 'promo30%']" alt="30% de Descuento">
          <img src="assets/img/2.jpg" class="img-responsive" />
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <div class="product-tag">
        <a [routerLink]="['/search', 'categorieU9CeLUwPpDWbIxeeWMXL']" alt="Combinados">
          <img src="assets/img/3.jpg" class="img-responsive" />
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="product-tag">
          <a [routerLink]="['/search', 'promo50%']" alt="Segunda unidad al 50%">
            <img src="assets/img/4.jpg" class="img-responsive" />
          </a>
        </div>
      </div>
  </div>
</div>
