<div id="wrapper">
  <div id="sidebar-wrapper">
      <aside id="sidebar">
          <ul id="sidemenu" class="sidebar-nav">
              
              <li *ngFor="let cat of listaCat">
                  <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-{{cat.id}}">
                      <span class="sidebar-icon"><i data-feather="circle"></i></span>
                      <span class="sidebar-title">{{cat.name}}</span>
                      <b class="caret"></b>
                  </a>
                  <ul id="submenu-{{cat.id}}" class="panel-collapse collapse panel-switch submenu" role="menu">
                      <li *ngFor="let item of cat.subs">
                        <a [routerLink]="['/products', item.id]" style="background: #a1a1a1 !important;"><i class="fas fa-wine-bottle"></i>{{item.name}}</a>
                      </li>
                  </ul>
              </li>
              
          </ul>
      </aside>            
  </div>
  <main id="page-content-wrapper" role="main">
  </main>
</div>