#sidebar{
    margin-top: 37px !important
}

/* 
@media(max-width: 768px){
    #sidebar{
        margin-top: 37px
    }
} */

.nav-collapse{
    overflow: hidden;
    margin-left: -180px;
} 

.disabled{
    display: none;
}