<div class="row" *ngIf="charge; else loading">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading" *ngIf="nuevo">
        Nuevo producto
      </header>
      <header class="panel-heading" *ngIf="!nuevo">
        {{ producto.name }}
      </header>
      <div class="panel-body">
        <div class="form">
          <form
            class="form-validate form-horizontal"
            id="feedback_form"
            [formGroup]="prodForm"
            (ngSubmit)="checkear()"
          >
            <div class="form-group">
              <div class="col-md-6">
                <label for="cname" class="control-label"
                  >Nombre <span class="required">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                />
              </div>
              <div class="col-md-6">
                <label for="cemail" class="control-label"
                  >Descripción corta<span class="required">*</span></label
                >
                <input
                  class="form-control"
                  id="cemail"
                  type="text"
                  formControlName="desc"
                  required
                />
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <label for="editor" class="control-label"
                  >Descripción larga <span class="required">*</span></label
                >
                <ckeditor formControlName='longDesc' [editor]="Editor" (change)="onChange($event)"></ckeditor>
                  
                </div>
            </div>

            <div class="form-group">
              <div class="col-md-6">
                <label for="curl" class="control-label"
                  >Precio por unidad <span class="required">*</span></label
                >
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input
                    class="form-control"
                    type="number"
                    formControlName="price"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6">
                <label class="control-label">Stock </label>
                <input
                  class="form-control"
                  type="number"
                  formControlName="stock"
                />
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <label class="control-label" style="margin-bottom: 12px;"
                  >Promociones 
                </label>
                <span  class="pull-right" title="Agregar nueva"><a (click)="agregarPromo()" class="btn btn-success"><i class="fa fa-plus"></i></a></span>
                <div *ngIf="sales.length>0; else vacio">
                  <div class="row">
                    <div class="col-lg-12">
                      <section class="panel">
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Ver</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Descuento</th>
                                <th>Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of sales; let i = index">
                                <td><i class="fa fa-check" *ngIf="item.show"></i></td>
                                <td>{{item.name}}</td>
                                <td>{{item.desc}}</td>
                                <td>{{item.cant}}</td>
                                <td>{{item.off}}</td>
                                <td *ngIf="precio">{{ (1-(item.off /this.prodForm.controls['price'].value))*100 | number:'1.0-0'}}%</td>
                                <td *ngIf="!precio">-</td >                          
                                <td><span>
                                  <i
                                    class="fa fa-pencil pencil_sub_cat"
                                    (click)="updatePromo(i, item)"
                                  ></i>
                                  <i
                                    class="fa fa-trash-o trash_sub_cat"
                                    (click)="borrarPromo(i, item)"
                                  ></i>
                                </span></td>
                              </tr>
                             
                            </tbody>
                          </table>
                        </div>
          
                      </section>
                    </div>
                  </div>
                </div>
                <ng-template #vacio>
                  <div class="alert alert-info">
                    Todavia no ingresaste ninguna promoción
                  </div>
                </ng-template>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6">
                <label for="agree" class="control-label">Por pedido</label>
                <input
                  type="checkbox"
                  style="width: 20px;"
                  class="checkbox form-control"
                  formControlName="order"
                />
                <span><small>Marcar si es "por pedido"</small></span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label for="ccomment" class="control-label">Categorias</label>
                <div class="btn-group dropup" id="catBtn">
                  <a class="btn btn-default" title="Seleccione una categoria"
                    >Categorias</a
                  >
                  <a
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    href=""
                    title="Seleccione una categoria"
                    ><span class="caret"></span
                  ></a>
                  <ul class="dropdown-menu">
                    <li *ngFor="let cat of cats">
                      <a (click)="agregarCategoria(cat.name, cat.id)">
                        {{ cat.name }}
                      </a>
                      <p
                        (click)="agregarCategoria(sub, cat.id + 'subs' + i)"
                        *ngFor="let sub of cat.subs; let i = index"
                        class="sub_cat"
                      >
                        {{ sub }}
                      </p>
                    </li>
                  </ul>
                </div>
                <div
                  id="tagsinput_tagsinput"
                  class="tagsinput"
                  style="height: 100%;"
                  *ngIf="categoriasDelProd.length > 0"
                >
                  <span
                    class="tag"
                    *ngFor="let item of categoriasDelProd; let i = index"
                    [ngClass]="{disabled: item.name == disabled}"
                  >
                    <span> {{ item.name }}&nbsp;&nbsp; </span>
                    <a
                      class="tagsinput-remove-link"
                      (click)="borrarSubCategoria(i)"
                    ></a>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6">
                <label class="control-label"
                  >Imagen <span class="required">*</span></label
                >
                <input
                  class="form-control"
                  type="file"
                  formControlName="image"
                  (change)="handleImage($event)"
                />
                <div class="text-mutted" *ngIf="nuevo">
                  Si no se selecciona una imagen, se guardará una por defecto
                </div>
                <div class="text-mutted" *ngIf="!nuevo">
                  Si no se selecciona una imagen, permanecerá la existente. Si
                  selecciona una nueva, se borrará la anterior para ocupar su
                  lugar
                </div>
              </div>
              <div class="col-md-6 text-center">
                <div *ngIf="producto">
                  <img [src]="producto.image" class="img_prod" />
                </div>
                <img
                  *ngIf="!producto && !imgPreview"
                  src="assets/img/producto-sin-imagen.png"
                  class="img_prod"
                />
                <img
                  *ngIf="!producto && imgPreview"
                  [src]="imgPreview"
                  class="img_prod"
                />
              </div>
            </div>
            

            <div class="form-group">
              <div class="col-md-12">
                <button class="btn btn-default" type="button">Cancelar</button>
                <button class="btn btn-primary pull-right" type="submit">
                  Guardar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>



