.slider-size {
    height: 350px; 
    margin: 15px 10px;
}

.panel-body{
    padding-bottom: 0px;
}

.footer{
    background: #dcdcdc;
    padding: 17px 40px 15px 40px;
    margin-top: 10px;
}

.info{
    padding: 10px;
}

.view-slider{
    display: block;
}

.img_prod{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.previewSearch{
    background: white;
    margin-top: 3px;
    border-radius: 4px;
    position: absolute;
    border: 1px solid black;
    width: 75%;
}

.previewSearch p{
    margin: 5px 10px;
}

.previewSearch ul{
    padding-inline-start: 26px;
}

.previewSearch ul li{
    padding: 4px 0px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}

.previewSearch ul li:hover{
    background: #e8e8e8
}

.previewSearch ul li a{
    color: black;
}

.searchDesc{
    margin: 0px;
    color: lightsteelblue;
    font-size: 12px;
}

.searchName{
    margin-bottom: 5px;
}

.searchName span{
    margin-right: 8px;
}

.imagen_input{
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.preview{
    padding-top: 250px;
    color: white;
}

/* Switch */
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.green{
    color: yellowgreen;
}
.red{
    color: tomato;
}